
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link th:href="@{/styles/cssandjs/style.css}" rel="stylesheet"/>
  </head>

  <body class="text-center">
  <div class="p-3 rounded-5 bg-white">
    <form class="form-signin" th:action="@{/login/verificar}" th:object="${usuario}" method="POST">
    <img th:src="@{/images/u_logo.png}" width="100%" alt="LogoUninpahu" class="mb-4">
           <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
      <label for="usuario" class="sr-only"></label>
      <input type="text" id="usuario" class="form-control" th:field="*{usuario}" placeholder="Usuario" required autofocus>
      <label for="contrasenia" class="sr-only"></label>
      <input type="password" id="contrasenia" class="form-control" th:field="*{contrasenia}" placeholder="Contraseña" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Recuerdame
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-login" type="submit">Ingresar</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
  </div>
  </body>
</html>

