<!DOCTYPE html>
<html xmlns="http://thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <title>Modern Flat Design Login Form Example</title>
  <link th:href="@{/styles/cssandjs/style.css}" rel="stylesheet" />

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-page">
  <div class="form">
    <form class="login-form" th:action="@{/login/verificar}" th:object="${usuario}" method="POST">
      <input type="text" placeholder="usuario" th:field="*{usuario}" class="form-control" th:errorclass="'form-control alert-danger'"/>
      <input type="text" placeholder="contraseña" th:field="*{contrasenia}" class="form-control" th:errorclass="'form-control alert-danger'"/>
      <button>Iniciar Sesión</button>
    </form>
  </div>
</div>
<!-- partial -->
 <script type="text/javascript" th:src="@{/js/cssandjs/script.js}"></script>

</body>
</html>
