.full-background-inicio {
    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    

    /* Take full size */
    height: 100vh;
    width: 100%;

    /* Background */
    background: url('../../images/bg.jpeg');
 
}

.full-background-buscar {
    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    

    /* Take full size */
    height: 100vh;
    width: 100%;

    /* Background */
    background-color: #f8f9fa;
 
}

.full-background-mapa {
    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Take full size */
    height: 100vh;
    width: 100%;

    /* Background */
    background-color: white;
}

.full-background-streetview{
    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    

    /* Take full size */
    height: 100vh;
    width: 100%;

    /* Background */
    background-color: #f8f9fa;
 
}