<!doctype html>
<html lang="en">
<script>
function navAction(){
	document.getElementById('navbarNav').className='collapse navbar-collapse';

}
</script>
  <head th:replace="locator/shared/header"></head>
  <body onload="validarMensajes()">
    <nav th:replace="locator/shared/navAdmin"></nav>
	<div class="container pt-3">
			<h3 class="text-secondary border border-3 border-dark border-top-0 border-end-0 border-start-0">
			Salones
			</h3>
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">	
      			<a class="btn mt-3" th:href="@{/locator/admin/salon/}" style="background-color: #EE7F00;color:white">Crear salon</a>
     		</div>
	
			<table class="table table-striped mt-4">
				<thead>
				<th>Salon</th>
				<th>Coordenadas</th>
				<th>Foto 360º</th>
				<th>Estado</th>
				<th>Acciones</th>
				</thead>
				<tbody>
				<tr th:each="salon: ${salones}">
					<td th:text="${salon.sede.numero} +' - '+ ${salon.numero}"></td>
					<td th:text="${salon.coordenadas}"></td>
					<td th:text="${salon.urlStreetView}!=''?'Sí':'No'"></td>
					<td th:text="${salon.estado}?'Activo':'Inactivo'"></td>
					<td>
						<a class="btn btn-primary btn-xs" th:href="@{/locator/admin/salon/}+${salon.idSalon}"><i class="bi bi-pencil-square" style="color: white;"></i></a>
						<a class="btn btn-danger btn-xs" th:href="@{/locator/admin/eliminarSalon/}+${salon.idSalon}"  onclick="return confirm('Estás seguro que quieres eliminar?');"><i class="bi bi-trash-fill" style="color: white;" ></i></a>
				</tr>
				</tbody>
			</table>

		</div> 
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
  </body>
</html>